*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

.bg{
  height: 100%;
  width: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box{
  width: 500px;
  height: 680px;
  position: relative;
  margin: 6% auto;
  background: #000;
  padding: 5px;
  overflow: hidden;
}


.header1{
  width: 470px;
  height: 50px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #fff;
  border-radius: 30px;
}

.header2{
  padding: 14px 130px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

.icons{
  margin: 30px auto;
  text-align: center;
}

.icons input{
  width: 95px;
  margin: 0 30px;
  cursor: pointer;
  border-radius: 50%;
}

.icons input:focus{
  transition: 0.4s;
  outline: none;
  border: 10px solid grey;
}

.input-group{
  top: 280px;
  position: absolute;
  width: 350px;
  transition: .5s;
}

.input-field{
  width: 100%;
  padding: 10px 0px;
  outline: none;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
  bottom: 28px;
  font-size: 20px;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 17px;
  outline: 10px white;
  background: transparent;
  border-radius: 30px
}

.check-box{
  margin: 30px 10px 30px 0;
}

span{
  color: #fff;
  font-size: 17px;
  bottom: 68px;
  position: absolute;
}

#studentlogin{
  left: -450px;
}

#teacherlogin{
  left: 90px;
}

#parentlogin{
  left: 550px;
}

.submit-btn {
  transition-duration: 0.4s;
}

.submit-btn:hover {
  background-color: grey; /* Green */
  color: white;
}
